*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.btn-container{
    display:flex;
    justify-content: center;
}

.btn-container button{
    margin:15px;
    padding:10px;
    border-radius: 10px;
    width:100px;
    cursor: pointer;
}

.main{
    display:flex;
}



.lib-placeholder{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    order:1;
}

.book-form{
    width:225px;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding:20px;

}

form div:not(:first-child, :last-child){
    margin: 15px 0 15px 0;
}

.book-form.show{
    opacity:1;
}