*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.btn-container{
    display:flex;
    justify-content: center;
}

.btn-container button{
    margin:15px;
    padding:10px;
    border-radius: 10px;
    width:100px;
    cursor: pointer;
}

.lib-placeholder{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    max-width:900px;
}